
/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** primary (Azul brillante) **/
  --ion-color-primary: #00ABE4;
  --ion-color-primary-rgb: 0, 171, 228;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0098cc;
  --ion-color-primary-tint: #1ab6e6;

  /** secondary (Azul claro) **/
  --ion-color-secondary: #E9F1FA;
  --ion-color-secondary-rgb: 233, 241, 250;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #cdd3dd;
  --ion-color-secondary-tint: #eaf3fd;

  /** tertiary (Gris claro) **/
  --ion-color-tertiary: #d3d3d3;
  --ion-color-tertiary-rgb: 211, 211, 211;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #bbbbbb;
  --ion-color-tertiary-tint: #dadada;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff; /* Considerar #000000 si el gris es muy claro */
  --ion-color-medium-contrast-rgb: 255, 255, 255; /* Ajustar si cambia el contraste */
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light (Blanco) **/
  --ion-color-light: #FFFFFF;
  --ion-color-light-rgb: 255, 255, 255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;

}


.table ion-row {
  padding: 10px 5px;
  font-size: 16px;
}

.table ion-row:nth-child(even) {
  background: var(--ion-color-secondary); 
}

.table ion-row:nth-child(odd) {
  background: var(--ion-color-light);
}

.table ion-row:first-child {
  font-weight: bold;
  text-transform: uppercase; 
  background: var(--ion-color-primary); 
  color: var(--ion-color-primary-contrast); 
}

