#container {
  text-align: center;
  position: absolute; /* Mantenemos este método de centrado */
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  /* Usando variable --app-fontsize-medium (18px) definida en variables.css */
  font-size: 20px;
  color: var(--ion-color-primary); /* Usa variable */
  line-height: 26px;
}

#container p {
  /* Usando variable --app-fontsize-small (14px) definida en variables.css */
  font-size: 16px;
  color: #333333; /* Gris oscuro */
  margin: 0 ;
  line-height: 24px; /* Mejora legibilidad en móviles */
}

#container a {
  text-decoration: none;
  color: var(--ion-color-primary); /* Usa variable */

}

#container a:hover {
  color: var(--ion-color-primary-shade); /* Usa variable */
}



